In [ ]:
%matplotlib inline

from sqlalchemy import create_engine
import datetime
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as col
from matplotlib.dates import  DateFormatter
import seaborn as sns

pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

sns.set_style("whitegrid")
sns.set_context("poster")

from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble.forest import RandomForestRegressor
from sklearn.svm import SVR
from  sklearn import linear_model

In [4]:
engine = create_engine('postgresql://dwe-mausfreres:xzyw8ymVvo_H@localhost:5432/DWE_MAUSFRERES_2012')

In [5]:
df_intraday = pd.read_sql('select * from "dwe_ext_weather_meteogroup_intraday"',con=engine)
df_day = pd.read_sql_query('select * from "dwe_ext_weather_meteogroup_day"',con=engine)
df_premium = pd.read_sql_query('select * from "dwe_ext_weather_premium"',con=engine)
df_sites = pd.read_sql_query('select * from "dwe_bld_site"',con=engine)
df_counts = pd.read_sql_query('select * from "dwe_cnt_site"',con=engine)

SyntaxError: EOL while scanning string literal (<ipython-input-5-6c2bccd1f59b>, line 1)

In [72]:
df_sites['coord']=df_sites.latitude.round(3).astype(str)+";"+df_sites.longitude.round(3).astype(str)
df_sites.head()

,idbldsite,sname,imaxoccupancy,iwarnoccupancy,timezone,latitude,longitude,shopnumber,haswifi,hascapturerate,...,hasagegroupsensors,sqm,hasbuyingcouple,resettime,datagapsalarm,zone42r_region,zone42r_store,compensation_at_reset_time,zone42r_region_passersby,coord
0,1,Sierre,None,None,Europe/Zurich,46.291289,7.535480,Sierre,False,False,...,False,NaN,False,180,False,None,None,True,None,46.291;7.535
1,2,Monthey,None,None,Europe/Zurich,46.256423,6.957167,Monthey,False,False,...,False,NaN,False,180,False,None,None,True,None,46.256;6.957
2,20,Ch. Bongenie Accessoires,None,None,Europe/Zurich,46.342899,6.156410,,False,False,...,False,111.0,False,180,False,None,None,True,None,46.343;6.156
3,4,Vevey,None,None,Europe/Zurich,46.458900,6.846930,,True,False,...,False,NaN,False,180,False,None,None,True,None,46.459;6.847
4,5,Vernier,None,None,Europe/Zurich,46.222900,6.096468,Blandonnet,True,False,...,False,NaN,False,180,False,None,None,True,None,46.223;6.096

In [73]:
df_premium[df_premium.day=='2016-06-17'].head(2)

,id,idbldaddress,day,tempmaxcelsius,tempmincelsius,descriptioncode,precipitationinmilimiter,lastupdatetime
34122,38149,30,2016-06-17,18,7,176,1.0,2016-06-18 08:40:34.913
34636,38158,39,2016-06-17,19,6,353,6.9,2016-06-18 08:40:45.143

In [74]:
df_day[df_day.day=='2016-06-17']

,id,latitude,longitude,day,maxtemperature,mintemperature,weathersituation,cloudamount,lastupdated
3245,7671,47.079,8.281,2016-06-17,17.2,11.1,63.0,4,2016-06-17 20:00:10.541
3265,7672,47.161,7.293,2016-06-17,19.4,11.3,81.0,4,2016-06-17 20:00:11.040
6007,7664,47.306,8.819,2016-06-17,19.6,8.9,81.0,4,2016-06-17 20:00:01.343
6022,7665,46.342,6.156,2016-06-17,16.7,10.6,81.0,4,2016-06-17 20:00:01.990
6236,7669,46.291,7.535,2016-06-17,22.3,10.8,95.0,4,2016-06-17 20:00:04.410
6266,7666,46.256,6.957,2016-06-17,17.7,10.4,95.0,6,2016-06-17 20:00:02.711
6268,7667,47.102,6.828,2016-06-17,13.0,8.0,95.0,7,2016-06-17 20:00:03.409
6269,7668,46.458,6.846,2016-06-17,17.5,11.1,81.0,4,2016-06-17 20:00:03.815
6273,7670,46.222,6.096,2016-06-17,19.0,11.0,81.0,7,2016-06-17 20:00:04.950

In [75]:
df_intraday[(df_intraday.timestamp>'2016-06-17')&(df_intraday.timestamp<'2016-06-18')].head(2)

,id,idparent,timestamp,utctimestamp,temperature,cloudamount,weathersituation
86569,2620950,7664,2016-06-17 07:00:00,1466139600000,8.9,8.0,21.0
86570,2620951,7664,2016-06-17 11:00:00,1466154000000,16.0,5.0,NaN

In [76]:
df_result = pd.merge(df_intraday,df_day,left_on='idparent',right_on='id',how='inner')

In [77]:
df_result['coord']=df_result.latitude.round(3).astype(str)+";"+df_result.longitude.round(3).astype(str)
df_result=pd.merge(df_result,df_sites,on='coord',how='inner')

In [78]:
df_result.sname.value_counts()

Bienne     8643
Monthey    8640
Sierre     8339
Hinwil     6165
Name: sname, dtype: int64

In [79]:
columns =[u'id_x',
 u'idparent',
 u'timestamp',
 u'utctimestamp',
 u'temperature',
 u'cloudamount_x',
 u'weathersituation_x',
 u'latitude_x',
 u'longitude_x',
 u'day',
 u'maxtemperature',
 u'mintemperature',
 u'weathersituation_y',
 u'cloudamount_y',
 u'lastupdated',
 u'idbldsite',
 u'sname',
 u'deactivated',

]

In [80]:
df_weather = df_result[columns]

In [81]:
df_weather.columns

Index([u'id_x', u'idparent', u'timestamp', u'utctimestamp', u'temperature',
       u'cloudamount_x', u'weathersituation_x', u'latitude_x', u'longitude_x',
       u'day', u'maxtemperature', u'mintemperature', u'weathersituation_y',
       u'cloudamount_y', u'lastupdated', u'idbldsite', u'sname',
       u'deactivated'],
      dtype='object')

In [82]:
df_counts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4035846 entries, 0 to 4035845
Data columns (total 17 columns):
id                      int64
idbldsite               int64
timestamp               datetime64[ns]
rawoccupancy            int64
rawin                   int64
rawout                  int64
compensatedin           int64
optimizedin             int64
compensatedout          int64
optimizedout            int64
compensatedoccupancy    int64
optimizedoccupancy      int64
generated               bool
corrected               bool
createdon               object
utctimestamp            int64
numchildren             int64
dtypes: bool(2), datetime64[ns](1), int64(13), object(1)
memory usage: 469.6+ MB

In [83]:
df_counts['timestamp_hour']=df_counts.timestamp.apply(lambda dt: datetime.datetime(dt.year, dt.month, dt.day, dt.hour))

In [84]:
df_counts = df_counts.groupby(['idbldsite','timestamp_hour']).sum()

In [85]:
df_counts = df_counts.reset_index()

In [86]:
df_counts.head()

,idbldsite,timestamp_hour,id,rawoccupancy,rawin,rawout,compensatedin,optimizedin,compensatedout,optimizedout,compensatedoccupancy,optimizedoccupancy,generated,corrected,utctimestamp,numchildren
0,1,2012-10-24 02:00:00,10,0,0,0,0,0,0,0,0,0,1.0,0.0,5404152600,0
1,1,2012-10-24 03:00:00,26,0,0,0,0,0,0,0,0,0,0.0,0.0,5404167000,0
2,1,2012-10-24 04:00:00,30,0,0,0,0,0,0,0,0,0,0.0,0.0,4053134700,0
3,1,2012-10-24 05:00:00,54,0,0,0,0,0,0,0,0,0,2.0,0.0,5404195800,0
4,1,2012-10-24 06:00:00,70,0,0,0,0,0,0,0,0,0,0.0,0.0,5404210200,0

In [87]:
df = pd.merge(df_counts[['idbldsite','compensatedin','timestamp_hour']],df_weather,how='inner',left_on=['idbldsite','timestamp_hour'],
              right_on=['idbldsite','timestamp'],suffixes=['count_','weather_'])
df.columns

Index([         u'idbldsite',      u'compensatedin',     u'timestamp_hour',
                     u'id_x',           u'idparent',          u'timestamp',
             u'utctimestamp',        u'temperature',      u'cloudamount_x',
       u'weathersituation_x',         u'latitude_x',        u'longitude_x',
                      u'day',     u'maxtemperature',     u'mintemperature',
       u'weathersituation_y',      u'cloudamount_y',        u'lastupdated',
                    u'sname',        u'deactivated'],
      dtype='object')

In [88]:
columns =[         u'idbldsite',      u'compensatedin',     u'timestamp_hour',
                         u'timestamp',
                u'temperature',      u'cloudamount_x',
       u'weathersituation_x',       
                         u'maxtemperature',     u'mintemperature',
   
                    u'sname'      ]

In [89]:
df = df[columns]

In [90]:
df[(df.timestamp_hour>'2014-11-12 12:00:00')& (df.timestamp_hour<'2014-11-13')].head(1)

,idbldsite,compensatedin,timestamp_hour,timestamp,temperature,cloudamount_x,weathersituation_x,maxtemperature,mintemperature,sname
1675,1,480,2014-11-12 13:00:00,2014-11-12 13:00:00,10.7,7.0,NaN,10.8,8.4,Sierre

In [91]:
df['day_of_week']= df.timestamp_hour.dt.dayofweek
df['month']= df.timestamp_hour.dt.month
df['hour']= df.timestamp_hour.dt.hour

In [92]:
df.head(2)

,idbldsite,compensatedin,timestamp_hour,timestamp,temperature,cloudamount_x,weathersituation_x,maxtemperature,mintemperature,sname,day_of_week,month,hour
0,1,609,2014-06-17 15:00:00,2014-06-17 15:00:00,23.6,0.0,NaN,23.6,11.4,Sierre,1,6,15
1,1,657,2014-06-17 17:00:00,2014-06-17 17:00:00,18.0,8.0,NaN,23.6,11.4,Sierre,1,6,17

In [100]:
X = df[['temperature','cloudamount_x','weathersituation_x',  
                         'maxtemperature',  'mintemperature']
                    ]

In [101]:
X = X.fillna(0)

In [102]:
X = X.values
y = df.compensatedin.values

In [141]:
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=0.3)

In [142]:
clf = LinearRegression()

In [143]:
clf.fit(Xtrain,ytrain)
clf.coef_

array([ 38.48436814,  29.89682418,  -0.57230381, -24.95369104, -17.16617825])

In [144]:
np.mean((ytest - clf.predict(Xtest)) ** 2)

135827.01858863767

In [145]:
clf.score(Xtest,ytest)

0.18900476984165226

In [121]:
clf_svr = SVR(C=1.0, epsilon=0.2)

In [122]:
clf_svr.fit(Xtrain,ytrain)
clf_svr.score(Xtest,ytest)

-0.093612677406051947

In [148]:
rdm = RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=50, n_jobs=3, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [149]:
rdm.fit(Xtrain,ytrain)
print rdm.score(Xtest,ytest)
print np.sqrt(np.mean((ytest - rdm.predict(Xtest))**2))

0.343851835824
331.50103835

In [151]:
accuracy_score(ytest,rdm.predict(Xtest))

ValueError: Can't handle mix of multiclass and continuous