Exercise from Think Stats, 2nd Edition (thinkstats2.com)<br>
Allen Downey

In [5]:
import nsfg
import pandas as pd
df = nsfg.ReadFemPreg()
df.columns.values

array([u'caseid', u'pregordr', u'howpreg_n', u'howpreg_p', u'moscurrp',
       u'nowprgdk', u'pregend1', u'pregend2', u'nbrnaliv', u'multbrth',
       u'cmotpreg', u'prgoutcome', u'cmprgend', u'flgdkmo1', u'cmprgbeg',
       u'ageatend', u'hpageend', u'gestasun_m', u'gestasun_w', u'wksgest',
       u'mosgest', u'dk1gest', u'dk2gest', u'dk3gest', u'bpa_bdscheck1',
       u'bpa_bdscheck2', u'bpa_bdscheck3', u'babysex', u'birthwgt_lb',
       u'birthwgt_oz', u'lobthwgt', u'babysex2', u'birthwgt_lb2',
       u'birthwgt_oz2', u'lobthwgt2', u'babysex3', u'birthwgt_lb3',
       u'birthwgt_oz3', u'lobthwgt3', u'cmbabdob', u'kidage', u'hpagelb',
       u'birthplc', u'paybirth1', u'paybirth2', u'paybirth3', u'knewpreg',
       u'trimestr', u'ltrimest', u'priorsmk', u'postsmks', u'npostsmk',
       u'getprena', u'bgnprena', u'pnctrim', u'lpnctri', u'workpreg',
       u'workborn', u'didwork', u'matweeks', u'weeksdk', u'matleave',
       u'matchfound', u'livehere', u'alivenow', u'cmkidied', u'cmkidlft',
       u'lastage', u'wherenow', u'legagree', u'parenend', u'anynurse',
       u'fedsolid', u'frsteatd_n', u'frsteatd_p', u'frsteatd', u'quitnurs',
       u'ageqtnur_n', u'ageqtnur_p', u'ageqtnur', u'matchfound2',
       u'livehere2', u'alivenow2', u'cmkidied2', u'cmkidlft2', u'lastage2',
       u'wherenow2', u'legagree2', u'parenend2', u'anynurse2',
       u'fedsolid2', u'frsteatd_n2', u'frsteatd_p2', u'frsteatd2',
       u'quitnurs2', u'ageqtnur_n2', u'ageqtnur_p2', u'ageqtnur2',
       u'matchfound3', u'livehere3', u'alivenow3', u'cmkidied3',
       u'cmkidlft3', u'lastage3', u'wherenow3', u'legagree3', u'parenend3',
       u'anynurse3', u'fedsolid3', u'frsteatd_n3', u'frsteatd_p3',
       u'frsteatd3', u'quitnurs3', u'ageqtnur_n3', u'ageqtnur_p3',
       u'ageqtnur3', u'cmlastlb', u'cmfstprg', u'cmlstprg', u'cmintstr',
       u'cmintfin', u'cmintstrop', u'cmintfinop', u'cmintstrcr',
       u'cmintfincr', u'evuseint', u'stopduse', u'whystopd', u'whatmeth01',
       u'whatmeth02', u'whatmeth03', u'whatmeth04', u'resnouse',
       u'wantbold', u'probbabe', u'cnfrmno', u'wantbld2', u'timingok',
       u'toosoon_n', u'toosoon_p', u'wthpart1', u'wthpart2', u'feelinpg',
       u'hpwnold', u'timokhp', u'cohpbeg', u'cohpend', u'tellfath',
       u'whentell', u'tryscale', u'wantscal', u'whyprg1', u'whyprg2',
       u'whynouse1', u'whynouse2', u'whynouse3', u'anyusint', u'prglngth',
       u'outcome', u'birthord', u'datend', u'agepreg', u'datecon',
       u'agecon', u'fmarout5', u'pmarpreg', u'rmarout6', u'fmarcon5',
       u'learnprg', u'pncarewk', u'paydeliv', u'lbw1', u'bfeedwks',
       u'maternlv', u'oldwantr', u'oldwantp', u'wantresp', u'wantpart',
       u'cmbirth', u'ager', u'agescrn', u'fmarital', u'rmarital',
       u'educat', u'hieduc', u'race', u'hispanic', u'hisprace',
       u'rcurpreg', u'pregnum', u'parity', u'insuranc', u'pubassis',
       u'poverty', u'laborfor', u'religion', u'metro', u'brnout',
       u'yrstrus', u'prglngth_i', u'outcome_i', u'birthord_i', u'datend_i',
       u'agepreg_i', u'datecon_i', u'agecon_i', u'fmarout5_i',
       u'pmarpreg_i', u'rmarout6_i', u'fmarcon5_i', u'learnprg_i',
       u'pncarewk_i', u'paydeliv_i', u'lbw1_i', u'bfeedwks_i',
       u'maternlv_i', u'oldwantr_i', u'oldwantp_i', u'wantresp_i',
       u'wantpart_i', u'ager_i', u'fmarital_i', u'rmarital_i', u'educat_i',
       u'hieduc_i', u'race_i', u'hispanic_i', u'hisprace_i', u'rcurpreg_i',
       u'pregnum_i', u'parity_i', u'insuranc_i', u'pubassis_i',
       u'poverty_i', u'laborfor_i', u'religion_i', u'metro_i', u'basewgt',
       u'adj_mod_basewgt', u'finalwgt', u'secu_p', u'sest', u'cmintvw',
       'totalwgt_lb'], dtype=object)

Print value counts for <tt>birthord</tt> and compare to results published in the [codebook](http://www.icpsr.umich.edu/nsfg6/Controller?displayPage=labelDetails&fileCode=PREG&section=A&subSec=8016&srtLabel=611933)

In [44]:
df.birthord.value_counts()

1.0     4413
2.0     2874
3.0     1234
4.0      421
5.0      126
6.0       50
7.0       20
8.0        7
9.0        2
10.0       1
Name: birthord, dtype: int64

In [2]:
df.birthord.value_counts(sort=False)

1     4413
2     2874
3     1234
4      421
5      126
6       50
7       20
8        7
9        2
10       1
dtype: int64

Print value counts for <tt>prglngth</tt> and compare to results published in the [codebook](http://www.icpsr.umich.edu/nsfg6/Controller?displayPage=labelDetails&fileCode=PREG&section=A&subSec=8016&srtLabel=611931)

In [75]:
print df.prglngth.count()
#print df.prglngth.groupby(df.prglngth).count()
bins = [0,13,26,50]
labels = ['0-13','14-26','27-50']

df['prglngCat'] = pd.cut(df.prglngth,bins,labels=labels)
df.prglngCat.value_counts()

13593

27-50    9278
0-13     3507
14-26     793
dtype: int64

Print value counts for <tt>agepreg</tt> and compare to results published in the [codebook](http://www.icpsr.umich.edu/nsfg6/Controller?displayPage=labelDetails&fileCode=PREG&section=A&subSec=8016&srtLabel=611935).

Looking at this data, please remember my comments in the book about the obligation to approach data with consideration for the context and respect for the respondents.

Compute the mean birthweight.

In [3]:
df.totalwgt_lb.mean()

7.2656284576233681

Create a new column named <tt>totalwgt_kg</tt> that contains birth weight in kilograms.  Compute its mean.  Remember that when you create a new column, you have to use dictionary syntax, not dot notation.

Look through the codebook and find a variable, other than the ones mentioned in the book, that you find interesting.  Compute values counts, means, or other statistics.

Create a boolean Series.

In [4]:
df.outcome == 1

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13    False
14    False
...
13578     True
13579     True
13580    False
13581     True
13582    False
13583    False
13584     True
13585    False
13586    False
13587    False
13588     True
13589    False
13590    False
13591     True
13592     True
Name: outcome, Length: 13593, dtype: bool

Use a boolean Series to select the records for the pregnancies that ended in live birth.

In [5]:
live = df[df.outcome == 1]
len(live)

9148

Count the number of live births with <tt>birthwgt_lb</tt> between 0 and 5 pounds (including both).  The result should be 1125.

In [6]:
len(live[(live.birthwgt_lb >= 0) & (live.birthwgt_lb <= 5)])

1125

Count the number of live births with <tt>birthwgt_lb</tt> between 9 and 95 pounds (including both).  The result should be 798

Use <tt>birthord</tt> to select the records for first babies and others.  How many are there of each?

In [7]:
firsts = df[df.birthord==1]
others = df[df.birthord>1]
len(firsts), len(others)

(4413, 4735)

Compute the mean weight for first babies and others.

In [8]:
firsts.totalwgt_lb.mean()

7.201094430437772

In [9]:
others.totalwgt_lb.mean()

7.3258556149732623

Compute the mean <tt>prglngth</tt> for first babies and others.  Compute the difference in means, expressed in hours.